/* Preloader */
.animationload {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999999;
    background: url(../images/preloaders/preloader_4.gif) center no-repeat #FFFFFF;
}

